h1{
    color: blue;
    /* width: 600px;  */
    /* height: 300px; */
    margin: auto;
    /* margin: 500px; */
}

h1.history {
    color: black;
}

h2{
    color: black;
    width: 100%;
    margin: middle;
}

h1{
    color: black;
    /* width: 600px;  */
    /* height: 300px; */
    margin: auto;
    /* margin: 500px; */

}

h2{
    color: black;
    width: 100%;
    margin: middle;
}

#container{
    /* width: 1000px; */
    /* margin-right: auto; */
    margin: auto;

}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}